.card {
  padding: 1rem 2rem;
  display: inline-block;
  height: 400px !important;
  border-radius: 16px;
  background: white;
  box-shadow: -1rem 0 3rem var(--primary-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  rotate: 10deg;
  transform: translateY(-1rem);
}

.card:first-child {
  margin-left: 800px;
}

.card:last-child {
  margin-right: 0;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: 1em;
  text-align: center;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
  padding-top: 0;
}

.card-header h2:hover {
  background: linear-gradient(
    90deg,
    var(--secondary-color),
    var(--primary-color)
  );
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-img {
  border-radius: 16px;
  overflow: hidden;
  width: 250px; /* Adjust the width and height as needed */
  height: 250px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid var(--primary-color);
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
  cursor: pointer;
}

.tags a:hover {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

@media (min-width: 800px) {
  .card:first-child {
    margin-left: 500px;
  }
}

@media (min-width: 1200px) {
  .card:first-child {
    margin-left: 0;
  }
}
